*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 2em;
}
p{
  text-indent: 30px;
}
body{
    background:#f1f1f1;
    margin-left:10px;
}
.explanation{
  margin:10px;
}

.navbar{
  width:100%;
  display:grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color:white;
  overflow:hidden;
}
.linksandbuttons{
  display:grid;
  grid-template-columns: 3fr 1fr;
}
.navbar-links ul{
  grid-template-columns: 1fr 1fr;
}
.navbar-links ul{
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
}
.linksandbuttons li{
  list-style: none;
}
.navbar-links li a{
  text-decoration:none; 
  color:white;
  padding:1rem;
  display:block; 
}

.navbar-links li:hover{
  background-color: #555;
}

.brand-title{
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:2px;
  font-size: 1.5rem;
  margin:.5rem;
  justify-items: center;
  text-align: center;
}
#userpicture,#trainpic{
  width:32px;
  height:32px;
  border-radius:2px;
  align-self:center    
}
#loginlogoutbuttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#loginlogoutbuttons li a{
    text-decoration:none; 
    color:white;
    padding:1rem;
    display:block; 
}
table, th, td {
    border: 1px solid black;
  }
#background,#foreground,#routedesign,#hud,#cloud{
    position:absolute;
    top: 0;
    left: 0;
}
#background{
  width:1200px;
  height:675px;
}

#tooltip{
  position:absolute;
  padding: 5;
  color:rgba(0,0,0,.8);
  font-size:small;
  z-index: 1;
  width : 100px;
  background-color: rgb(255, 182, 193,0.7);
  border: black 1px solid;
  border-radius:4px;
  display:block; 
}
.citypopup{
  position:absolute;
  padding: 5;
  color:rgba(0,0,0,1);
  font-size:small;
  z-index: 1;
  width : 50px;
  background-color: green;
  border-radius:4px;
  display:block;
  text-align: center; 
  opacity: 1;
  animation: anotherpulse 0.5s linear;
}
.citypopup2{
  position:absolute;
  padding: 5;
  color:white;
  font-size:small;
  font-weight: bold;
  z-index: 1;
  width : 50px;
  background-color: red;
  border-radius:4px;
  display:block;
  text-align: center; 
  opacity: 1;
  animation: anotherpulse 0.5s linear;
}
.citypopup.active{
  animation: pulse 0.5s linear;
}
.citypopup2.active2{
  animation: pulse 0.5s linear;
}
#Mumba-popup{
  left:55px;
  top:35px;
}
#Kata-popup{
  left:1065px;
  top:535px;
}
#Haybad-popup{
  left:815px;
  top:95px;
}
#Dore-popup{
  left:355px;
  top:125px;
}
#Purnapur-popup{
  left:215px;
  top:265px;
}
#Ooby-popup{
  left:555px;
  top:275px;
}
#Poa-popup{
  left:995px;
  top:265px;
}
#Mannai-popup{
  left:415px;
  top:585px;
}
#Lochin-popup{
  left:725px;
  top:565px;
}
#Bangro-popup{
  left:915px;
  top:385px;
}
#foreground,#hud{
  pointer-events:none;
}
#Mumba-popup2{
  left:105px;
  top:35px;
}
#Kata-popup2{
  left:1115px;
  top:535px;
}
#Haybad-popup2{
  left:865px;
  top:95px;
}
#Dore-popup2{
  left:405px;
  top:125px;
}
#Purnapur-popup2{
  left:265px;
  top:265px;
}
#Ooby-popup2{
  left:605px;
  top:275px;
}
#Poa-popup2{
  left:1045px;
  top:265px;
}
#Mannai-popup2{
  left:465px;
  top:585px;
}
#Lochin-popup2{
  left:775px;
  top:565px;
}
#Bangro-popup2{
  left:965px;
  top:385px;
}
#foreground,#hud{
  pointer-events:none;
}
#background,#foreground{
  filter: brightness(1);
  transition: filter .2s ease
}
#passengers,#ticketprices{
    font-size: small;
}

keytype {
  border:1px black solid;
  border-radius: 3px;
  font-style: italic;
  font-weight: bold;
  color: green;
  padding:2px;
  background-color: lightgray;
}

#popup , #inputpopup{
  position: absolute;
  z-index: 100;
  background-color: rgb(255, 182, 193,0.7);
  border: black 1px solid;
  border-radius: 20px;
  display: none;
  pointer-events:none;
}
#inputpopup{
  pointer-events:unset; 
  top:50%;
  transform: translateY(-50%); 
}

.hidden{
  display:none;
}
.popupheader , .inputheader{
  padding: 10px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}
.popupbody , .inputbody{
  padding: 10px 15px;
}

@keyframes pulse {
  0% {transform:rotateX(0deg); opacity:1;}
  50%{opacity:0}
  100% {transform:rotateX(360deg); opacity:1;}
}
@keyframes anotherpulse {
  0% {transform:rotateX(0deg); opacity:1;}
  50%{opacity:0}
  100% {transform:rotateX(360deg); opacity:1;}
}
/* 
#car{
  position:absolute;
  top:0px;
  left:600px;
  z-index: 1;
  animation: move 30s linear forwards;
}
@keyframes move{
  from{transform:translateY(800px)}
  to{transform:translateY(-50px)}
}
*/
#buttonmenu{
  position:fixed;
  top:0px;
  left:1150px;
  width:50px;
  padding: 5;
  color:rgba(0,0,0,.8);
  font-size:small;
  z-index: 1;
  border: black 1px solid;
  border-radius:4px;
  display:flex; 

}
#noncanvases{
  width:100%;
}

#inputok , #inputcancel , #inputtext{
  height: 30px;
  margin: 10px;
}
#inputokcancelbuttons{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}

.content-table{
  border-collapse: collapse;
  margin:25px 0;
  font-size: 0.9em;
  min-width:400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.content-table thead tr{
  background-color: #6269e4;
  color:#fff;
  text-align: left;
  font-weight: bold;
}
.content-table th,
.content-table td{
  padding: 12px 15px;
}
.content-table tbody tr{
  border: 1px solid #6269e4;
}
.content-table tbody tr:nth-of-type(even){
  background-color: #e3e3e3;
}

#messages{
  height:500px;
  border:2px solid #6269e4;
  border-radius: 2px;
  margin:2px 0px;
  overflow: auto;
}

#messages > p{
  border-bottom: 1px solid #e3e3e3;
  text-indent: 0px;
}

#inputline{
  display:grid;
  grid-template-columns: 1fr 60px;
  margin:2px 0px;
}

#time{
  background-color:  #efd2d2;
  border-radius: 5px;
}

#email{
  background-color:  #d2dfef;
  border-radius: 5px;
}

#milestone{
  height:500px;
  border:2px solid #6269e4;
  border-radius: 2px;
  margin:2px 0px;
  overflow: auto;
}

#milestones > p{
  border-bottom: 1px solid #e3e3e3;
  text-indent: 0px;
}

#buttonmenu > button{
  width:50px;
}

/* #buttonmenu > div{
  display:grid
} */

#routeeditstate,#traineditstate,#runningstate,#pausedstate,#readytoexitstate{
  display: none;
}
#routeeditstate.active,#traineditstate.active,#runningstate.active,#pausedstate.active,#readytoexitstate.active{
  display: grid;
}